[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
py7zr = "*"
pillow = "*"
numpy = "*"
pyproj = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev = "python main.py border.geojson"
